


/*
 * Puzzle
 */

$puzzle-size: 4; 
$max-tile-size: 100%/$puzzle-size; 

#puzzle {
	width: 200px;
	height: 200px;

	margin-right: auto;
  	margin-left: auto;
  	padding: 5px;

	background-color: $color-white;
	border: 2px solid $color-black-80; 
	border-radius: 5px;
	
	&:after {
		content:'';
		display: block;
		padding-bottom: 100%;
	}
}

#puzzle__container{
	width: 100%;
	height: 100%;
}

	  	
.puzzle__tile {
	width: $max-tile-size; 
	height: $max-tile-size;
	float: left;
	background-color: $color-gray;
}