
$color-white: 		#ffffff;
$color-black: 		#000000;
$color-black-60: 	rgba($color-black, 0.6);
$color-gray: 		#cccccc;
$color-gray-80:		rgba($color-gray, 0.8);


$color-bg: 			$color-white;
$color-neutral:		rgba($color-gray, 0.2);
